@using GamerStore.Models.DTO;
@model ProductDTO

<div class="row">
    <div class="col-md-4">
        <img src="~/products/@Model?.ImageFileName" style="padding:40px" class="img-fluid" alt="Product Image" />
    </div>
    <div class="col-md-8">
        <table class="table table-sm table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>@Model?.Id</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>@Model?.BrandName</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>@Model?.Model</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>@Model?.Title</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>@Model?.CategoryName</td>
                </tr>
                @* <tr>
                    <th>Image source</th>
                    <td>@Model?.ImageFileName</td>
                </tr> *@
                <tr>
                    <th>Is in stock</th>
                    <td>
                        @(Model?.IsInStock == 1 ? "yes" : "no")
                    </td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>@Model?.Price.ToString("C")</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
