@using GamerStore.Models.DTO;
@model List<OrderDTO>

@{
    Layout = "_AdminLayout";
}

@if (TempData["Error"] is string error)
{
    <div class="alert alert-danger">@error</div>
}

<partial name="_OrderTable" model="Model" />